:root {
  --black: #333333;
  --grey: #51534b;
  --lightest-blue: rgba(154, 198, 229, 0.1);
  --light-blue: #66ccff;
  --blue: #2f6fa7;
  --dark-blue: #05176c;
  --teal: #32747f;
  --badge-bg-yellow: #f8d347;
  --badge-bg-blue: #9ac6e5;
}

@font-face {
  font-family: "MuseoSlab";
  src: local("MuseoSlab"),
    url(./fonts/Museo_Slab_500-webfont.woff) format("woff");
}

html,
body,
#root,
.App {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1rem;
  font-family: "MuseoSlab";
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1rem;
}

body,
p {
  margin-bottom: 0.4rem;
  font-family: Trebuchet MS, san-serif;
  font-weight: 300;
  line-height: 1.625;
  font-size: 1rem;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.602rem;
  }
  h2 {
    font-size: 1.266rem;
  }
  h3 {
    font-size: 1.125rem;
  }
}

.ul {
  list-style-position: outside;
}

/* override USWDS settings */
.font-body-3xs {
  font-size: 0.75rem;
}

.usa-button,
.usa-card__container,
.usa-prose,
.usa-fieldset {
  font-family: Trebuchet MS, san-serif;
  font-weight: 500;
  font-size: 1rem;
}
.usa-link {
  font-family: Trebuchet MS, san-serif;
  font-size: 1rem;
}
.usa-link:visited,
.a:visited {
  color: #562b97;
}
.usa-link:hover,
.a:hover {
  color: #2f6fa7;
  text-decoration: none;
}
.usa-link--external::after,
.usa-link--external:hover::after {
  background-image: url(./images/launch.svg);
}

.dark-background,
.usa-link.dark-background {
  color: white;
}
.usa-link:visited.dark-background {
  color: white;
}

.usa-button.dark-background:not(.usa-button--unstyled) {
  border: 1px solid white;
}

.usa-button--unstyled:hover.dark-background {
  color: white;
}

.usa-link.usa-button {
  color: white;
  text-decoration: none;
}

.usa-button:not(.usa-button--outline):not(.usa-button--base):not(
    .usa-button--unstyled
  ):not(.usa-button:disabled) {
  background-color: var(--blue, blue);
}

.usa-button--outline.radius-pill {
  color: var(--darkblue, darkblue);
  box-shadow: inset 0 0 0 2px var(--darkblue, darkblue);
}

.usa-button--base,
.usa-button--base:hover {
  background-color: var(--dark-blue, darkblue);
}

.usa-link {
  color: var(--blue, blue);
}

.usa-alert--info {
  border: none;
  background-color: var(--blue, blue);
  color: white;
}

.usa-alert--info:before {
  background-color: white;
}

.usa-footer__primary-section {
  background-color: white;
  color: black;
}

.usa-footer__secondary-section {
  background-color: var(--dark-blue, darkblue);
  color: white;
}

.usa-footer__secondary-section > .grid-container {
  max-width: inherit;
}

.usa-legend--large {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .usa-legend--large {
    font-size: 1.125rem;
  }
}

.usa-modal__content {
  padding-top: 0;
}
.usa-modal-overlay {
  padding: 0.25rem;
}
.usa-modal__close {
  display: none;
}

.usa-header,
legend,
.font-family-heading,
[class*="font-heading-"] {
  font-family: "MuseoSlab";
}
.font-family-body,
[class*="font-body-"] {
  font-family: Trebuchet MS, san-serif !important;
}

/* override Bootstrap settings */
.show > .btn-primary.dropdown-toggle {
  background-color: var(--dark-blue, darkblue);
  color: white;
  border: none;
}

.dropdown-menu {
  border: 1px solid var(--dark-blue);
  min-width: 14rem;
}

/* create custom classes and styles */
.data-icon {
  color: var(--dark-blue, darkblue);
}

.bg-lightest-blue {
  background-color: var(--lightest-blue, lightblue);
}

.bg-teal {
  background-color: var(--teal, teal);
  color: white;
}

.text-dark-blue {
  color: var(--dark-blue, darkblue);
}

.text-blue {
  color: var(--blue, blue);
}

.top-neg-50px {
  top: -50px;
}

.rotate-180 {
  transform: rotate(180deg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.usa-card__header-alt {
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.custom-map-marker,
.custom-map-marker-active {
  display: block;
}

.map-marker-pin {
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50% 50%;
  border: 2px solid white;
  transform: rotate(225deg);
  background-color: #337ab7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-marker-text {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  transform: rotate(-225deg);
}

.custom-map-marker-active > .map-marker-pin {
  background-color: white;
  border: 2px solid #337ab7;
}

.custom-map-marker-active > .map-marker-pin > .map-marker-text {
  color: #337ab7;
}

/* Override Pagination Styling */

.pagination-header {
  margin-top: 1rem;
  margin-left: 2.5rem;
}

.usa-pagination {
  justify-content: left;
  margin-left: 4rem;
}

.usa-pagination .usa-current {
  background-color: var(--dark-blue);
}

.usa-pagination__button {
  border-color: var(--grey);
  color: var(--blue);
}

.usa-pagination .usa-current:focus {
  background-color: var(--dark-blue);
}

.usa-button .usa-button--unstyled .usa-pagination__button {
  color: var(--blue);
}

.usa-button.usa-button--unstyled.usa-pagination__button.usa-current:hover {
  background-color: var(--dark-blue);
}

.usa-pagination__link {
  color: var(--blue);
}
